@media (max-width: 1413px){
    .navbar-nav{
        display: none;
    }
    .dropdown{
        display: block !important;
    }
    .bottomCarousel{
        bottom: -20%;
    }
}
@media (max-width: 992px) {
    #navbarSupportedContent{
        display: none;
    }
    .navbar{
        button{
            display:  block !important;
        }
    }
    .carousel-indicators{
        display: flex !important;
    }
    .btns{
        display: none;
    }
    .bottomCarousel{
        position: relative !important;
        .slickCarousel{
            .slickCarouselProduct{
                :first-child{
                    display: none;
                }
                :nth-child(2){
                    display: block;
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .carousel{
        .carousel-inner{
            .carousel-item{
                .myShadow{
                    box-shadow: rgb(18, 18, 18) 0px -5px 5px inset;
                    background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18 18 18) 135vw);
                }
                .main-img{
                    display: none !important;
                }
                .mobile-img{
                    display: block !important;
                }
                .details{
                    width: 50%;
                    right: 25%;
                    bottom: 50%;
                    .name{
                        justify-content: center;
                        margin: 0px;
                        p{
                            text-align: center;
                        }
                    }
                    .actions{
                        margin: 0px auto;
                        display: flex;
                        flex-direction: column;
                    }

                }
            }
        }
    }
}
@media (max-width: 420px) {
    #navbarSupportedContent{
        font-size: 5px !important;
    }
    #logo{
        height: 30px;
        width: 60px;
    }
}