@media (max-width: 1413px){
    .navbar-nav{
        display: none;
    }
    .dropdown{
        display: block !important;
    }
}
@media (max-width: 992px) {
    #navbarSupportedContent{
        display: none;
    }
    .navbar{
        button{
            display:  block !important;
        }
    }
    
}